/* card */
.cards {
    background-image: $bgCard;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 10px;
    width: auto;
    margin-top: 30px;
    height: auto;
    margin: 10px;
    @include mobileFirst(notebook) {
        width: 70%;
        margin: auto;
        margin-top: 30px;
      }
     @include mobileFirst(notebookL) {
        width: 650px;
        margin: auto auto 10px 10px;
        height: 480px;
     } 



        .card-content {
            @include mobileFirst(tablet) {
            display: flex;
            flex-direction: row;
            }
         
            .card-title {
               font-family: $fontRobot;
               color: $fontCardColor;
               font-size: 1.5em;
               padding: 10px;
               @include mobileFirst(tablet) {
                    position: absolute;
               }
               }
            .card-text {
               font-family: $fontRobot;
               color: $fontCardColor;
               font-size: 0.9em;
               padding: 10px;
               margin-top: 50px;
               @include mobileFirst(tablet) {
                    
               }
              }
            .card-audio {
                display: flex;
                width: 100%;
                height: 60px;
                @include mobileFirst(tablet) {
                    height: 360px;
                    margin: auto;
                }
                background-color:#F1F3F4;
                border-radius: 0 0 10px 10px;
                align-items: end;
                    .img-track {
                        display: none;
                        @include mobileFirst(tablet) {
                            display: flex;
                            position: absolute;
                            width: 300px;
                            justify-content: start;
                            margin-bottom: 60px;


                        }
                    }
              }
         }
       
       

    }
 