$mediaquery: (
    ms: 320px,
    mm: 375px,
    ml: 425px,
    tablet: 768px,
    notebook: 1024px,
    notebookM: 1366px,
    notebookL: 1440px,
    4k: 2560px
);

@mixin mobileFirst($brackpoint) {
    @media screen and (min-width: map-get($mediaquery, $brackpoint)) {
        @content;
    }

}